<br>
<br>

<div [className]="isMobile ? 'grid-mobile' : 'grid-desktop'">
  <div class="title">{{event.Titel}}</div>
  <div class="date">
    <span class="material-icons">schedule</span>
    {{event.StartDatum}} {{event.StartUhrzeit}}
  </div>
  <div class="location">
    <span class="material-icons">place</span>
    {{event.HSG}}
  </div>
  <div class="type">
    <img class="img-responsive" [src]="event.TypIcon"/>
    {{event.Typ}}
  </div>
  <a class="button" mat-raised-button (click)="register()" color="primary">Anmelden</a>
</div>


<br>
<br>

<div [innerHTML]="event.WebText"></div>

<br>
