.grid-desktop {
  display: grid;
  grid-template-areas:
    'header header header btn'
    'left middle right btn';
}

.grid-mobile {
  display: grid;
  grid-template-areas:
    'header header'
    'left btn'
    'middle btn'
    'right btn';
}

.title {
  font-weight: bold;
  grid-area: header;
}

.date {
  grid-area: left;
  color: grey;
  font-size: small;
  display: flex;
  align-items: center;
  padding-right: 3px;
}

.material-icons {
  padding-right: 3px;
}

.location {
  grid-area: middle;
  font-size: small;
  display: flex;
  align-items: center;
  padding-right: 3px;
}

.img-responsive {
  width: 30px;
}

.type {
  grid-area: right;
  font-size: smaller;
  display: flex;
  align-items: center;
  padding-right: 3px;
}

.table {
  width: auto;
}

.button {
  padding-left: 3px;
  grid-area: btn;
  align-self: center;
}
