.title {
  font-weight: bold;
}

.date {
  color: grey;
  font-size: small;
}

.location {
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
}

.img-responsive {
  width: 30px;
}

.type {
  font-size: smaller;
  padding-left: 10px;
  padding-right: 10px;
}

.table {
  width: auto;
  display: inline;
}

.button {
  width: auto;
  display: inline;
}
