<br>
<br>

<table mat-table [dataSource]="events" class="mat-elevation-z8">

  <ng-container matColumnDef="Typ">
    <th mat-header-cell *matHeaderCellDef> Typ </th>
    <td class="cell" mat-cell *matCellDef="let element">
      <div>
        <div class="icon"><img class="img-responsive" [src]="element.TypIcon"/></div>
        <div class="typ-text">{{element.Typ}}</div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="DatumZeit">
    <th mat-header-cell *matHeaderCellDef> Termin </th>
    <td class="cell" mat-cell *matCellDef="let element">
      <div>
        <div class="time">{{element.StartUhrzeit}}</div>
        <div class="date">{{element.StartDatum}}</div>
        <div class="location">{{element.HSG}}</div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="Veranstaltung">
    <th mat-header-cell *matHeaderCellDef> Veranstaltung </th>
    <td class="cell" mat-cell *matCellDef="let element"> {{element.Titel}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br>
