table {
  width: 100%;
}

.time {
  font-weight: bold;
}

.date {
  color: grey;
  font-size: smaller;
}

.location {
  color: grey;
  font-size: smaller;
}

.img-responsive {
  width: 30px;
}

.cell {
  padding: 10px 0 10px 0;
}
