@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@include mat.core();


/* For use in src/lib/core/theming/_palette.scss */
$md-bondingblau: (
    50 : #e0f0f8,
    100 : #b3d8ee,
    200 : #80bfe3,
    300 : #4da5d7,
    400 : #2691cf,
    500 : #007ec6,
    600 : #0076c0,
    700 : #006bb9,
    800 : #0061b1,
    900 : #004ea4,
    A100 : #cee2ff,
    A200 : #9bc4ff,
    A400 : #68a5ff,
    A700 : #4f96ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-bondingdunkelblau: (
    50 : #e5ebf1,
    100 : #bfcedd,
    200 : #94adc6,
    300 : #698caf,
    400 : #48739d,
    500 : #285a8c,
    600 : #245284,
    700 : #1e4879,
    800 : #183f6f,
    900 : #0f2e5c,
    A100 : #92b9ff,
    A200 : #5f98ff,
    A400 : #2c77ff,
    A700 : #1367ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-bondingtuerkis: (
    50 : #e2f5f2,
    100 : #b6e6e0,
    200 : #85d5cb,
    300 : #54c4b6,
    400 : #2fb7a6,
    500 : #0aaa96,
    600 : #09a38e,
    700 : #079983,
    800 : #059079,
    900 : #037f68,
    A100 : #adffed,
    A200 : #7affe1,
    A400 : #47ffd6,
    A700 : #2dffd1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-bondinggelb: (
    50 : #fffdeb,
    100 : #fff9ce,
    200 : #fff5ad,
    300 : #fff18c,
    400 : #ffee73,
    500 : #ffeb5a,
    600 : #ffe952,
    700 : #ffe548,
    800 : #ffe23f,
    900 : #ffdd2e,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff8da,
    A700 : #fff4c0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-bondingorange: (
    50 : #fef5ef,
    100 : #fce6d7,
    200 : #fbd5bc,
    300 : #f9c4a1,
    400 : #f7b78c,
    500 : #f6aa78,
    600 : #f5a370,
    700 : #f39965,
    800 : #f2905b,
    900 : #ef7f48,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe9df,
    A700 : #ffd8c6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-bondingrot: (
    50 : #fdeaee,
    100 : #f9cbd4,
    200 : #f5a8b7,
    300 : #f1859a,
    400 : #ee6a84,
    500 : #eb506e,
    600 : #e94966,
    700 : #e5405b,
    800 : #e23751,
    900 : #dd273f,
    A100 : #ffffff,
    A200 : #ffe6e9,
    A400 : #ffb3bc,
    A700 : #ff9aa5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-bondinghellblau: (
    50 : #f2f5fb,
    100 : #e0e7f5,
    200 : #cbd7ee,
    300 : #b6c7e7,
    400 : #a6bbe1,
    500 : #96afdc,
    600 : #8ea8d8,
    700 : #839fd3,
    800 : #7996ce,
    900 : #6886c5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #d2e0ff,
    A700 : #b8cfff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




$bonding-theme-primary: mat.define-palette($md-bondingblau);
$bonding-theme-accent:  mat.define-palette($md-bondingorange);

// The warn palette is optional (defaults to red).
$bonding-theme-warn:    mat.define-palette($md-bondingrot);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$bonding-theme: mat.define-light-theme((
  color: (
    primary: $bonding-theme-primary,
    accent: $bonding-theme-accent,
    warn: $bonding-theme-warn,  
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bonding-theme);
